/* モーダルウィンドウ */


.modal-table__wrapper {
    position: absolute;
    top: 66px;
    left: 353px;
    width: 805px;
    height: 858px;
    margin: auto;
    border: 1px solid #8B7969;
}

.modal-form__table {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    text-align: left;
    border: none;
    border-collapse: collapse;
    width: 580px;
    align-items: center;
}

.modal-form__table__value {
    width: 55%;
}

.modal-form__table__row th,
.modal-form__table__row td {
    vertical-align: top;
    text-align: left;
}

.modal-form__button {
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translateX(-50%);
}

.model-form__delete--submit {
    background-color: #BA370D;
    border: none;
    padding: 8px 20px 8px 20px;
    font-family: "Inika";
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.model-form__delete--submit:hover {
    background-color: #ff3333;
    /* ホバー時の背景色 */
    color: #ffffff;
    /* ホバー時の文字色 */
    transform: translateY(-3px);
    /* ボタンを少し浮かせる */
    box-shadow: 0px 4px 6px rgba(255, 81, 81, 0.2);
    /* 軽い影を追加 */
}

th,
.modal-form__table__header {
    padding-top: 7px;
}

.modal-form__table__header {
    /* padding: 8px 20px 8px 20px; */
    font-family: "Inika";
    font-weight: 700;
    font-style: bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #8B7969;
    width: 30%;
}

.input {
    padding: 0px 20px 35px 20px;
    font-family: "Inika";
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #8B7969;
    width: 95%;
    border: none;
    /* 枠線を消す */
    outline: none;
    /* フォーカス時の枠線も消す */
}

.textarea {
    padding: 15px 20px 30px 20px;
    font-family: "Inika";
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #8B7969;
    border: none;
    /* 枠線を消す */
    outline: none;
    /* フォーカス時の枠線も消す */

}

.close-button {
    position: absolute;
    margin: 20px 755px;

}

.close-button-submit {
    border: 1px solid #8B7969;
    border-radius: 50%;
    font-family: "Inika";
    font-weight: 400;
    font-style: Regular;
    font-size: 30px;
    line-height: 85%;
    letter-spacing: 0%;
    color: #8B7969;
    align-items: center;
    background-color: #FFFFFF;
        position: absolute;
            left: 750px;
            top: 20px;
}

.close-button:hover {
    background-color: #917a7a;
    color: black;
    transform: scale(1.1);
}


